# Supabase Cloud Configuration
# Retrieve these from your Supabase Project Settings -> API
VITE_SUPABASE_URL=https://xkfnyjlocyaatkpzyhgm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhrZm55amxvY3lhYXRrcHp5aGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyNjQyMzUsImV4cCI6MjEwNjg0MDIzNX0.cMupAFL-6N_B6AajiPNoS25X-QVX40g-XdKQ561aQc8
